---
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';
import { getCollection } from 'astro:content';

import { BlogCardSpotlight } from '@/features/BlogViews/BlogCardSpotlight';
import { BlogGallery } from '@/features/BlogViews/BlogGallery';
import PostSearchBar from '@/features/BlogViews/components/PostSearchBar.astro';
import Base from '@/features/shared/Base.astro';
import { CTA } from '@/features/shared/CTA';
import { GradientText } from '@/features/shared/GradientText';
import { NewerOlderPagination } from '@/features/shared/NewerOlderPagination';
import { Section } from '@/features/shared/Section';
import { AppConfig } from '@/utils/AppConfig';

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

export const getStaticPaths = (async ({ paginate }) => {
  const allPosts = (
    await getCollection('blog', ({ data }) => {
      return import.meta.env.PROD ? !data.draft : true;
    })
  ).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

  return paginate(allPosts, { pageSize: 10 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const title = `Blog | ${AppConfig.site_name}`;
const description = `All blog posts - Sa'id Kharboutli - Page ${page}`;
---

<Base head={{ title, description }}>
  <Section>
    <div class="text-center">
      <h1 class="text-3xl font-bold">All <GradientText>Blog Posts</GradientText></h1>
    </div>
    <div class="mt-2 flex flex-row justify-center gap-3 text-center text-xs">
      <a
        href="/blog/topics/"
        class="transition-all duration-150 hover:text-primary hover:scale-110"
      >
        Topics
      </a>|
      <a href="/blog/tags/" class="transition-all duration-150 hover:text-primary hover:scale-110">
        Tags
      </a>
    </div>
  </Section>

  <Section>
    <PostSearchBar />
  </Section>

  <Section>
    <BlogCardSpotlight post={page.data[0]} />

    <BlogGallery postList={page.data.slice(1)} />
  </Section>

  <Section>
    <NewerOlderPagination page={page} />
  </Section>

  <CTA client:load />
</Base>
