---
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';
import { getCollection } from 'astro:content';

import { BlogCardSpotlight } from '@/features/BlogViews/BlogCardSpotlight';
import { BlogGallery } from '@/features/BlogViews/BlogGallery';
import { CTA } from '@/features/shared/CTA';
import { GradientText } from '@/features/shared/GradientText';
import { NewerOlderPagination } from '@/features/shared/NewerOlderPagination';
import { Section } from '@/features/shared/Section';
import Base from '@/templates/Base.astro';
import { AppConfig } from '@/utils/AppConfig';
import { tagDataFromArr } from '@/utils/helpers';

export const getStaticPaths = (async ({ paginate }) => {
  const allPosts = (
    await getCollection('blog', ({ data }) => {
      return import.meta.env.PROD ? !data.draft : true;
    })
  ).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
  const allUniqueTags = new Set<string>();

  allPosts.forEach((post) => {
    post.data.tags.forEach((tag) => {
      allUniqueTags.add(tag);
    });
  });

  const tagData = tagDataFromArr(allUniqueTags);

  return tagData.flatMap((tag) => {
    const posts = allPosts.filter((post) => post.data.tags.includes(tag.name));
    return paginate(posts, { props: { tagData: tag }, params: { tag: tag.slug }, pageSize: 10 });
  });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { page, tagData } = Astro.props as Props;

// eslint-disable-next-line unused-imports/no-unused-vars
const { tag } = Astro.params;

const title = `"${tagData.name}" Tag | ${AppConfig.site_name}`;
const description = `All blog posts tagged with ${tagData.name} - Sa'id Kharboutli - Page ${page}`;
---

<Base head={{ title, description }}>
  <Section>
    <div class="text-center">
      <h1 class="text-3xl font-bold">
        Posts Tagged with: <GradientText>{tagData.name}</GradientText>
      </h1>
    </div>
    <div class="mt-1 flex justify-center text-xs">
      <a href="/blog/tags/" class="transition-all duration-150 hover:text-primary hover:scale-105">
        View All Tags
      </a>
    </div>
  </Section>

  <Section>
    <BlogCardSpotlight post={page.data[0]!} />
  </Section>

  <Section>
    <BlogGallery postList={page.data.slice(1)} />
  </Section>

  <Section>
    <NewerOlderPagination page={page} />
  </Section>

  <CTA client:load />
</Base>
