---
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';
import { getCollection } from 'astro:content';

import { BlogCardSpotlight } from '@/features/BlogViews/BlogCardSpotlight';
import { BlogGallery } from '@/features/BlogViews/BlogGallery';
import Base from '@/features/shared/Base.astro';
import { CTA } from '@/features/shared/CTA';
import { GradientText } from '@/features/shared/GradientText';
import { NewerOlderPagination } from '@/features/shared/NewerOlderPagination';
import { Section } from '@/features/shared/Section';
import { AppConfig } from '@/utils/AppConfig';
import { generateSlug, tagDataFromArr } from '@/utils/helpers';

export const getStaticPaths = (async ({ paginate }) => {
  const allPosts = (
    await getCollection('blog', ({ data }) => {
      return import.meta.env.PROD ? !data.draft : true;
    })
  ).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

  const allUniqueProjects = new Set<string>();

  allPosts.forEach((post) => {
    if (post.data.isProject && post.data.series) allUniqueProjects.add(post.data.series);
  });

  const projectData = tagDataFromArr(allUniqueProjects);

  return projectData.flatMap((project) => {
    const posts = allPosts.filter(
      (post) => post.data.isProject && post.data.series === project.name
    );
    return paginate(posts, {
      props: { projectData: project },
      params: { project: project.slug },
      pageSize: 10,
    });
  });
  // Return a paginated collection of paths for all posts
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { page, projectData } = Astro.props as Props;

// eslint-disable-next-line unused-imports/no-unused-vars
const { project } = Astro.params;

const title = `${projectData.name} Project Posts | ${AppConfig.site_name}`;
const description = `All posts for my ${projectData.name} project - Sa'id Kharboutli - Page ${page}`;
---

<Base head={{ title, description }}>
  <Section>
    <div class="text-center">
      <h1 class="text-3xl font-bold">
        <GradientText>{projectData.name}</GradientText> Project Posts
      </h1>
      <div class="mt-1 flex justify-center text-xs">
        <a
          href={`/projects/${generateSlug(projectData.name)}/`}
          class="transition-all duration-150 hover:text-primary hover:scale-110"
        >
          View Project Page
        </a>
      </div>
    </div>
  </Section>

  <Section>
    <BlogCardSpotlight post={page.data[0]!} />
  </Section>

  <Section>
    <BlogGallery postList={page.data.slice(1)} />
  </Section>

  <Section>
    <NewerOlderPagination page={page} />
  </Section>

  <CTA client:load />
</Base>
