---
import { BlogCardSpotlight } from '@/features/BlogViews/BlogCardSpotlight';
import { BlogGallery } from '@/features/BlogViews/BlogGallery';
import { CTA } from '@/features/shared/CTA';
import { GradientText } from '@/features/shared/GradientText';
import { NewerOlderPagination } from '@/features/shared/NewerOlderPagination';
import { Section } from '@/features/shared/Section';
import Base from '@/templates/Base.astro';
// eslint-disable-next-line prettier/prettier
import type { FrontMatterPostPage, IFrontMatterPost } from '@/types/IFrontMatterPost';
import { AppConfig } from '@/utils/AppConfig';
import { generateSlug, sortPostsByDate, tagDataFromArr } from '@/utils/helpers';

interface GetStaticPaths {
  paginate: any;
};

interface Props {
  page: FrontMatterPostPage;
  projectData: any;
}

export async function getStaticPaths({ paginate }: GetStaticPaths) {
  const allPosts = await Astro.glob<IFrontMatterPost>('../../**/*.md');
  const allUniqueProjects = new Set<any>();
  const sortedPosts = sortPostsByDate(allPosts);

  sortedPosts.forEach(post => {
    if(post.frontmatter.isProject && post.frontmatter.series) allUniqueProjects.add(post.frontmatter.series);
  });

  const projectData = tagDataFromArr(allUniqueProjects);

  return projectData.flatMap((project) => {
    const posts = sortedPosts.filter((post) =>  post.frontmatter.isProject && post.frontmatter.series === project.name)
    return paginate( posts,  {props: { projectData: project }, params: { project: project.slug }, pageSize: 10});
    }
  )
  // Return a paginated collection of paths for all posts
}

const { page, projectData } = Astro.props as Props;
// @ts-ignore
// eslint-disable-next-line unused-imports/no-unused-vars
const { project } = Astro.params; 

const title = `${projectData.name} Project Posts | ${AppConfig.site_name}`;
const description =
  `All posts for my ${projectData.name} project - Sa'id Kharboutli - Page ${page}`;
---

<Base head={{ title, description }}>
  <Section>
    <div class="text-center">
      <h1 class="text-3xl font-bold"><GradientText>{projectData.name}</GradientText> Project Posts</h1>
      <div class="mt-1 flex justify-center text-xs">
        <a href={`/projects/${generateSlug(projectData.name)}/`} class="transition-all duration-150 hover:text-primary hover:scale-110">
        View Project Page
        </a>
      </div>
    </div>
  </Section>

  <Section>
    <BlogCardSpotlight instance={page.data[0]!} />
  </Section>

  <Section>
    <BlogGallery postList={page.data.slice(1)} />
  </Section>

  <Section>
    <NewerOlderPagination page={page} />
  </Section>

  <CTA client:load />
</Base>