---
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';
import { getCollection } from 'astro:content';

import { BlogCardSpotlight } from '@/features/BlogViews/BlogCardSpotlight';
import { BlogGallery } from '@/features/BlogViews/BlogGallery';
import Base from '@/features/shared/Base.astro';
import { CTA } from '@/features/shared/CTA';
import { GradientText } from '@/features/shared/GradientText';
import { NewerOlderPagination } from '@/features/shared/NewerOlderPagination';
import { Section } from '@/features/shared/Section';
import { AppConfig } from '@/utils/AppConfig';
import { getNameFromSlug, getTopicFromUrl } from '@/utils/helpers';

export const getStaticPaths = (async ({ paginate }) => {
  const allPosts = (
    await getCollection('blog', ({ data }) => {
      return import.meta.env.PROD ? !data.draft : true;
    })
  ).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

  const allUniqueTopics = new Set<string>();

  allPosts.forEach((post) => {
    allUniqueTopics.add(getTopicFromUrl(post.slug));
  });

  return [...allUniqueTopics].flatMap((topic) => {
    const posts = allPosts.filter((post) => getTopicFromUrl(post.slug) === topic);
    return paginate(posts, { params: { topic }, pageSize: 10 });
  });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page } = Astro.props;
const { topic } = Astro.params;

const title = `"${getNameFromSlug(topic)}" Topic | ${AppConfig.site_name}`;
const description = `All blog posts related to ${getNameFromSlug(topic)} - Sa'id Kharboutli - Page ${page}`;
---

<Base head={{ title, description }}>
  <Section>
    <div class="text-center">
      <h1 class="text-3xl font-bold">
        Topic: <GradientText>{getNameFromSlug(topic)}</GradientText>
      </h1>
    </div>
    <div class="mt-1 flex justify-center text-xs">
      <a
        href="/blog/topics/"
        class="transition-all duration-150 hover:text-primary hover:scale-110"
      >
        View All Topics
      </a>
    </div>
  </Section>

  <Section>
    <BlogCardSpotlight post={page.data[0]} />
  </Section>

  <Section>
    <BlogGallery postList={page.data.slice(1)} />
  </Section>

  <Section>
    <NewerOlderPagination page={page} />
  </Section>

  <CTA client:load />
</Base>
