---
import { BlogCardSpotlight } from '@/components/BlogCard/BlogCardSpotlight';
import { BlogGallery } from '@/components/BlogCard/BlogGallery';
import { GradientText } from '@/components/GradientText';
import { NewerOlderPagination } from '@/components/NewerOlderPagination';
import { Section } from '@/components/Section';
import { CTA } from '@/partials/CTA';
import Base from '@/templates/Base.astro';
// eslint-disable-next-line prettier/prettier
import type { FrontMatterPostPage, IFrontMatterPost } from '@/types/IFrontMatterPost';
import { AppConfig } from '@/utils/AppConfig';
import { getNameFromSlug, getTopicFromUrl, sortPostsByDate } from '@/utils/helpers';

type GetStaticPaths = {
  paginate: any;
}; // Overrides `GetStaticPathsOptions` types from Astro

export async function getStaticPaths({ paginate }: GetStaticPaths) {
  const allPosts = await Astro.glob<IFrontMatterPost>('../../**/*.md');
  const allUniqueTopics = new Set<any>();
  const sortedPosts = sortPostsByDate(allPosts);

  sortedPosts.forEach(post => {
      allUniqueTopics.add(getTopicFromUrl(post.url!));
  });

  return [...allUniqueTopics].flatMap((topic) => {
    const posts = sortedPosts.filter((post) =>  getTopicFromUrl(post.url!) === topic)
    return paginate( posts,  {params: { topic }, pageSize: 10});
    }
  )
  // Return a paginated collection of paths for all posts
}

interface Props {
  page: FrontMatterPostPage;
}

const { page} = Astro.props as Props;
// @ts-ignore
// eslint-disable-next-line unused-imports/no-unused-vars
const { topic } = Astro.params; 

const title = `"${getNameFromSlug(topic)}" Tag | ${AppConfig.site_name}`;
const description =
  'Pagination example built with Astro styled with Tailwind CSS.';
---

<Base head={{ title, description }}>
  <Section>
    <div class="text-center">
      <h1 class="text-3xl font-bold">Blog Topic: <GradientText>{getNameFromSlug(topic)}</GradientText></h1>
    </div>
    <div class="mt-1 flex justify-center text-xs">
      <a href="/blog/topics/" class="transition-all duration-150 hover:text-purple-400 hover:scale-110">
      View All Topics
      </a>
    </div>
  </Section>

  <Section>
    <BlogCardSpotlight instance={page.data[0]!} />
  </Section>

  <Section>
    <BlogGallery postList={page.data.slice(1)} />
  </Section>

  <Section>
    <NewerOlderPagination page={page} />
  </Section>

  <CTA />
</Base>