---
import { BlogCardSpotlight } from '@/features/BlogViews/BlogCardSpotlight';
import { BlogGallery } from '@/features/BlogViews/BlogGallery';
import { CTA } from '@/features/shared/CTA';
import { GradientText } from '@/features/shared/GradientText';
import { NewerOlderPagination } from '@/features/shared/NewerOlderPagination';
import { Section } from '@/features/shared/Section';
import Base from '@/templates/Base.astro';
// eslint-disable-next-line prettier/prettier
import type { FrontMatterPostPage, IFrontMatterPost } from '@/types/IFrontMatterPost';
import { AppConfig } from '@/utils/AppConfig';
import { sortPostsByDate,tagDataFromArr  } from '@/utils/helpers';

type GetStaticPaths = {
  paginate: any;
}; // Overrides `GetStaticPathsOptions` types from Astro

export async function getStaticPaths({ paginate }: GetStaticPaths) {
  const allPosts = await Astro.glob<IFrontMatterPost>('../../**/*.md');
  const allUniqueSeries = new Set<any>();
  const sortedPosts = sortPostsByDate(allPosts);

  sortedPosts.forEach(post => {
    if(!post.frontmatter.isProject && post.frontmatter.series) allUniqueSeries.add(post.frontmatter.series);
  });

  const seriesData = tagDataFromArr(allUniqueSeries);

  return seriesData.flatMap((series) => {
    const posts = sortedPosts.filter((post) =>  !post.frontmatter.isProject && post.frontmatter.series === series.name)
    return paginate( posts,  {props: { seriesData: series }, params: { series: series.slug }, pageSize: 10});
    }
  )
  // Return a paginated collection of paths for all posts
}

interface Props {
  page: FrontMatterPostPage;
  seriesData: any;
}

const { page, seriesData } = Astro.props as Props;
// @ts-ignore
// eslint-disable-next-line unused-imports/no-unused-vars
const { series } = Astro.params; 

const title = `${seriesData.name} Series Posts | ${AppConfig.site_name}`;
const description =
  `Blog posts by topics - Sa'id Kharboutli - Page ${page}`;
---

<Base head={{ title, description }}>
  <Section>
    <div class="text-center">
      <h1 class="text-3xl font-bold"><GradientText>{seriesData.name}</GradientText> Series Posts</h1>
    </div>
  </Section>

  <Section>
    <BlogCardSpotlight instance={page.data[0]!} />
  </Section>

  <Section>
    <BlogGallery postList={page.data.slice(1)} />
  </Section>

  <Section>
    <NewerOlderPagination page={page} />
  </Section>

  <CTA client:load />
</Base>