---
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';
import { getCollection } from 'astro:content';

import { BlogCardSpotlight } from '@/features/BlogViews/BlogCardSpotlight';
import { BlogGallery } from '@/features/BlogViews/BlogGallery';
import Base from '@/features/shared/Base.astro';
import { CTA } from '@/features/shared/CTA';
import { GradientText } from '@/features/shared/GradientText';
import { NewerOlderPagination } from '@/features/shared/NewerOlderPagination';
import { Section } from '@/features/shared/Section';
import { AppConfig } from '@/utils/AppConfig';
import { tagDataFromArr } from '@/utils/helpers';

export const getStaticPaths = (async ({ paginate }) => {
  const allPosts = (
    await getCollection('blog', ({ data }) => {
      return import.meta.env.PROD ? !data.draft : true;
    })
  ).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

  const allUniqueSeries = new Set<string>();

  allPosts.forEach((post) => {
    if (!post.data.isProject && post.data.series) allUniqueSeries.add(post.data.series);
  });

  const seriesData = tagDataFromArr(allUniqueSeries);

  return seriesData.flatMap((series) => {
    const posts = allPosts.filter(
      (post) => !post.data.isProject && post.data.series === series.name
    );
    return paginate(posts, {
      props: { seriesData: series },
      params: { series: series.slug },
      pageSize: 10,
    });
  });
  // Return a paginated collection of paths for all posts
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page, seriesData } = Astro.props as Props;

// eslint-disable-next-line unused-imports/no-unused-vars
const { series } = Astro.params;

const title = `${seriesData.name} Series Posts | ${AppConfig.site_name}`;
const description = `Blog posts by topics - Sa'id Kharboutli - Page ${page}`;
---

<Base head={{ title, description }}>
  <Section>
    <div class="text-center">
      <h1 class="text-3xl font-bold">
        <GradientText>{seriesData.name}</GradientText> Series Posts
      </h1>
    </div>
  </Section>

  <Section>
    <BlogCardSpotlight post={page.data[0]!} />
  </Section>

  <Section>
    <BlogGallery postList={page.data.slice(1)} />
  </Section>

  <Section>
    <NewerOlderPagination page={page} />
  </Section>

  <CTA client:load />
</Base>
