---
import { BlogCardSpotlight } from '@/components/BlogCard/BlogCardSpotlight';
import { BlogGallery } from '@/components/BlogCard/BlogGallery';
import { GradientText } from '@/components/GradientText';
import { NewerOlderPagination } from '@/components/NewerOlderPagination';
import { Section } from '@/components/Section';
import { CTA } from '@/partials/CTA';
import Base from '@/templates/Base.astro';
// eslint-disable-next-line prettier/prettier
import type { FrontmatterPostPage, IFrontmatterPost } from '@/types/IFrontMatterPost';
import { AppConfig } from '@/utils/AppConfig';
import { tagDataFromArr } from '@/utils/helpers';
import { sortByDate } from '@/utils/Posts';

type GetStaticPaths = {
  paginate: any;
}; // Overrides `GetStaticPathsOptions` types from Astro

export async function getStaticPaths({ paginate }: GetStaticPaths) {
  const allPosts = await Astro.glob<IFrontmatterPost>('../../**/*.md');
  const allUniqueSeries = new Set<any>();
  const sortedPosts = sortByDate(allPosts);

  sortedPosts.forEach(post => {
    if(!post.frontmatter.isProject && post.frontmatter.series) allUniqueSeries.add(post.frontmatter.series);
  });

  const seriesData = tagDataFromArr(allUniqueSeries);

  return seriesData.flatMap((series) => {
    const posts = sortedPosts.filter((post) =>  !post.frontmatter.isProject && post.frontmatter.series === series.name)
    return paginate( posts,  {props: { seriesData: series }, params: { series: series.slug }, pageSize: 10});
    }
  )
  // Return a paginated collection of paths for all posts
}

interface Props {
  page: FrontmatterPostPage;
  seriesData: any;
}

const { page, seriesData } = Astro.props as Props;
// @ts-ignore
// eslint-disable-next-line unused-imports/no-unused-vars
const { series } = Astro.params; 

const title = `${seriesData.name} Series Posts | ${AppConfig.site_name}`;
const description =
  'Pagination example built with Astro styled with Tailwind CSS.';
---

<Base head={{ title, description }}>
  <Section>
    <div class="text-center">
      <h1 class="text-3xl font-bold"><GradientText>{seriesData.name}</GradientText> Series Posts</h1>
    </div>
  </Section>

  <Section>
    <BlogCardSpotlight instance={page.data[0]!} />
  </Section>

  <Section>
    <BlogGallery postList={page.data.slice(1)} />
  </Section>

  <Section>
    <NewerOlderPagination page={page} />
  </Section>

  <CTA />
</Base>